extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Krystian


        p.lead.text-light
          | Full Stack JavaScript Developer.


        .portfolio-bio
          p
            | I am a Full Stack JavaScript Developer...and I will update this content in the future :)
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li Express
          li React
          li CSS
          li HTML
          li JavaScript
          li OOP
        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-555-1234
          li myemail@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/krysbor?tab=repositories') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
